<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.appservice.mapper.FypAppUseHistoryMapper">
    
    <resultMap type="FypAppUseHistory" id="FypAppUseHistoryResult">
        <result property="historyId"    column="history_id"    />
        <result property="time"    column="play_time"    />
        <result property="Date"    column="play_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFypAppUseHistoryVo">
        select history_id, play_time, play_date, create_by, create_time, update_by, update_time, remark from fyp_app_use_history
    </sql>

    <select id="selectFypAppUseHistoryList" parameterType="FypAppUseHistory" resultMap="FypAppUseHistoryResult">
        <include refid="selectFypAppUseHistoryVo"/>
        <where>  
            <if test="time != null "> and play_time = #{time}</if>
            <if test="Date != null "> and play_date = #{Date}</if>
            <if test="createBy != null "> and create_by = #{createBy}</if>
            <if test="params.beginDate != null and params.beginDate != '' and params.endDate != null and params.endDate != ''"> and play_date between #{params.beginDate} and #{params.endDate}</if>
        </where>
    </select>
    
    <select id="selectFypAppUseHistoryByHistoryId" parameterType="Long" resultMap="FypAppUseHistoryResult">
        <include refid="selectFypAppUseHistoryVo"/>
        where history_id = #{historyId}
    </select>
        
    <insert id="insertFypAppUseHistory" parameterType="FypAppUseHistory" useGeneratedKeys="true" keyProperty="historyId">
        insert into fyp_app_use_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="time != null">play_time,</if>
            <if test="Date != null">play_date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="time != null">#{time},</if>
            <if test="Date != null">#{Date},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFypAppUseHistory" parameterType="FypAppUseHistory">
        update fyp_app_use_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="time != null">play_time = #{time},</if>
            <if test="Date != null">play_date = #{Date},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where history_id = #{historyId}
    </update>

    <delete id="deleteFypAppUseHistoryByHistoryId" parameterType="Long">
        delete from fyp_app_use_history where history_id = #{historyId}
    </delete>

    <delete id="deleteFypAppUseHistoryByHistoryIds" parameterType="String">
        delete from fyp_app_use_history where history_id in 
        <foreach item="historyId" collection="array" open="(" separator="," close=")">
            #{historyId}
        </foreach>
    </delete>
</mapper>